{%extends 'blog/base.html'%}
{%block nav-title%}Portfolio Page{%endblock%}
{%load static %}
{%block title%}{{detail.title}}{%endblock%}
{%block content%}
{%block style%}
<style>
  h2
  {
    margin: 2rem;
    padding: 2rem;
  }
</style>
{%endblock%}
<div class="profile" style="padding: 1rem; margin:1rem;background-color: #222;border-radius: 1.3rem;color: white;">
  <img src="{%static 'portfolio/profile_pic.jpeg'%}" alt="" height="150px" style="border-radius: 5rem;">
  <h1>Vishal Ahirwar</h1>

  <h3>Mechanical Engineer| Software Developer</h3>
  <p>C++/Python Robotics Developer, Python Django Backend Web Developer, C++ Qt Developer</p>
</div>
<div class="skills">
  <h2>Skills</h2>
  <table class="table table-hover">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>C++</td>
        <td>C</td>
        <td>Python</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Django REST FrameWork</td>
        <td>Multithreading</td>
        <td>Boost</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td >Git</td>
        <td>CMake and Other C++ Build Tools</td>
        <td>STL</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td >Linux</td>
        <td>Qt FrameWork</td>
        <td>Quick Learner</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Projects</h2>
<div class="card-group" style="padding: 1rem;margin: 1rem;">

  {% for project in projects %}
  <div class="card" style="padding: 1rem; margin: 1rem;">
    <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{project.title}}</h5>
      <p class="card-text">{{project.description}}</p>
      <a href="{{project.url}}" class="btn btn-primary">See Project</a>
    </div>
  </div>

  {% endfor %}
</div>
{%endblock%}