{%extends 'blog/base.html'%}
{%block nav-title%}Blog Page{%endblock%}
{%block title%}{{blog.title}}{%endblock%}
{%block style%}
<style>
  .top
  {
    margin: 2rem;
    padding: 1rem;
  }
</style>
{%endblock%}
{%block content%}
<center>
  <div class="top">

    <h1>Vishal has Written {{blogs.count}} blog{{blogs.count|pluralize}}</h1>
  </div>
  <div class="row" style="width: 15rem;margin: 0.5rem;padding: 0.5rem;background-color: #222;color: white;border-radius: 2rem;">

    {%for blog in blogs %}
    <img src="{{blog.image.url}}" alt="image" width="25%">
    <a class=nav-link " href="{%url 'blog:detail' blog.id %}"><h2>{{blog.title}}</h2></a>
    <p>{{blog.created_at|date:'M d Y'}}</p>
        <p>{{blog.description|striptags|truncatechars:75}}</h3>
    {% endfor %}
  </div>
</center>
{%endblock%}
